* {
    --cor-texto-form: #FFF;
    --cor-form: #1D332C;
    --cor-fundo-texto: #2A483C;
}

.section-home {
    background-image: url(/src/assets/Wyoming.jpeg);
    background-position: center; 
    width: 100%; 
    height: 100vh;
    overflow-x: hidden;
}

