.section-main-MU {
    display: flex;
    flex-direction: column;
    font-family: "Marmelad", sans-serif;
    background: radial-gradient(#b4947f, #86a380);
    margin: 2rem 2rem;
    padding: 2.5rem;
    border-radius: 8px;
}

.titulo-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    color: #000000;
    margin: 2rem 0rem;
}

.subtitulo-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    color: #000000;
    margin: 2rem 0rem;
    font-size: 20px;
}

.topicos-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    color: #000000;
    margin: 2rem 0rem;
    font-size: 20px;
}

.topicos-main a {
    text-decoration: none;
    padding: 1rem;
    color: #000000;
}

.topicos-main a:hover {
    color: #84422a;
    transition: 0.3s ease;
    text-decoration: underline;
}