* {
    --cor-header-MU: #73574D;
    --cor-sidebar:#BFA595;
    --cor-footer: #89756e;
    --cor-main: #D5D2D9;
}

.section-meet-us {
    display: grid;
    grid-template-columns: 230px repeat(3, 1fr);
    grid-template-rows: 100px repeat(2, 1fr) 70px;
    min-height: 100vh;
    grid-template-areas: 
        "header header header header"
        "sidebar main main main"
        "sidebar main main main"
        "footer footer footer footer";
}

.section-meet-us .header {
    grid-area: header;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-meet-us .sidebar {
    grid-area: sidebar;
    background-color: var(--cor-sidebar);
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 0rem 1rem;
}

.section-meet-us .main {    
    grid-area: main;
    background-color: var(--cor-main);        
} 

.section-meet-us .footer {
    grid-area: footer;
    background-color: var(--cor-footer);
}



.section-meet-us  header{
    background: radial-gradient( var(--cor-header-MU), var(--cor-footer)) ;
    
}

.section-meet-us .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Marmelad', sans-serif;
    font-size: 1.5rem;
    color: #000000;
    font-weight: 300;
}

.section-meet-us .footer a {
    text-decoration: none;
    color: #000000;
}